@import 'shared/layout';

#notfound {
    height: 75vh;
    margin-top: 75px;
    position: relative;

    .notfound {
        left: 50%;
        line-height: 1.4;
        max-width: 520px;
        position: absolute;
        text-align: center;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;

        .notfound-404 {
            height: 200px;
            margin: 0px auto 20px;
            position: relative;
            z-index: -1;

            h1 {
                color: #102d39;
                font-size: 190px !important;
                font-weight: 200;
                left: 50%;
                margin: 0px;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            h2 {
                background: #102d39;
                bottom: 0px;
                color: #ffffff !important;
                display: inline-block;
                font-family: "Lato";
                font-size: 28px;
                font-weight: 400;
                left: 0;
                margin: auto;
                padding: 10px 5px;
                position: absolute;
                right: 0;
            }
        }

        a {
            background: #102d39;
            border: 1px solid transparent;
            color: #ffffff;
            display: inline-block;
            font-family: "Ivymode-bold";
            font-size: 18px;
            font-weight: 700;
            padding: 13px 23px;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }
    }
}

.fixed-top {
    background: white;
}

@media only screen and (max-width: 767px) {
    .notfound {
        .notfound-404 {
            h1 {
                font-size: 148px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .notfound {
        .notfound-404 {
            height: 148px;
            margin: 0px auto 10px;
        }
    }

    .notfound {
        .notfound-404 {
            h1 {
                font-size: 86px;
            }
        }
    }

    .notfound {
        .notfound-404 {
            h2 {
                font-size: 16px;
            }
        }
    }

    .notfound {
        a {
            font-size: 14px;
            padding: 7px 15px;
        }
    }
}
