@import 'shared/layout';

.main-banner {
    margin-top: 140px;
    padding: 20px 0px 0px;

    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    &::after {
        color: #f4f8fa;
        content: "AUTHOR TRIBE";
        display: block;
        font-family: "Ivymode-semibold";
        font-size: 138px;
        height: 275px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 37%;
        width: 1075px;
        z-index: -1;
    }

    &::before {
        background: url($url + "/assets/frontend/images/sample/path.webp") no-repeat;
        background-size: contain;
        content: "";
        height: 585px;
        position: absolute;
        right: -12%;
        top: -30%;
        width: 645px;
        z-index: -1 !important;
    }

    p {
        color: #292e0a;
        font-size: 16px !important;
        line-height: 26px;
        max-height: 156px;
        min-height: 56px;
    }

    .h1 {
        color: #1e4454;
        display: inline-block !important;
        font-size: 40px !important;
        margin-bottom: 20px !important;
        max-height: 120px;
        max-width: 728px;
        min-height: 40px;
        min-width: 326px;
    }

    .h2 {
        color: #1e4454;
        display: inline-block !important;
        font-size: 35px !important;
        margin-bottom: 30px !important;
        max-height: 160px;
        max-width: 650px;
        min-height: 80px;
        min-width: 326px;
    }

    .back-green {
        background: #1e4454;
        color: white;
        display: inline-flex;
        padding: 0px 7px;
    }

    .grey {
        color: #1e4454;
    }

    .h5 {
        background: #1e4454;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px #1e4454;
        color: white !important;
        display: inline-block;
        font-family: "Lato";
        font-size: 14px !important;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 25px !important;
        max-height: 66px;
        min-height: 37px;
        padding: 10px 29px;
    }

    .btn-order {
        box-shadow: 0px 0px 10px 1px #1e4454;
        font-size: 13px;
        padding: 10px 50px !important;
    }

    .btn-order-transparent {
        border-color: #1e4454;
        color: #1e4454;
        font-size: 13px;
        padding: 10px 50px !important;
    }

    .or {
        color: #1e4454;
        font-family: "Lato";
        font-size: 13px;
        font-weight: 500;
        margin: 0px 10px;
    }

    img {
        margin: 0px 5px;
        max-width: max-content;
    }

    .rated {
        color: #1e4454;
        display: block;
        font-family: "Lato";
        margin-top: 25px;
    }

    .bannerContent {
        padding-top: 180px;
    }

    .e-text {
        font-family: "Lato" !important;
        font-size: 9px !important;
    }

    .row {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .typed {
        color: red;
    }

    .bannerContent p {
        color: #fff;
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    a.btnPrimary:after {
        background: #1a1302 !important;
        border-radius: 100%;
        content: "";
        height: 28px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.25s;
        width: 28px;
    }

    a.btnPrimary:hover:after {
        border-radius: 0;
        bottom: -5px;
        height: 105%;
        right: -5px;
        width: 105%;
    }

    .tabCont p {
        font-size: 18px;
    }

    .aboutCta {
        align-items: center;
        display: flex;
        z-index: 9999;
    }

    .aboutCta a.ctaLinePhone {
        color: #292e0a !important;
        display: flex;
        flex-direction: column;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        margin-left: 30px;
        text-decoration: none;
    }

    .tabCont p {
        line-height: 28px;
    }

    .aboutCta a.ctaLinePhone span.smallTitleLine {
        line-height: 17px;
        margin: 0;
        padding-left: 35px;
    }

    .aboutCta a.ctaLinePhone span.smallTitleLine:before {
        top: 9px;
        width: 28px;
    }

    a.ctaLinePhone {
        padding-left: 60px;
        position: relative;
    }

    [class^="box-"].showfirst {
        display: block;
    }

    .port-content {
        border-left: 1px solid #9ab3ae;
        color: #fff;
        margin: 50px auto 0 !important;
        max-width: 70% !important;
        padding-left: 30px !important;
    }

    .custom-tab-list ul {
        align-items: start;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 120px 0 0;
    }

    .custom-tab-list ul li span {
        display: block;
        font-size: 14px;
    }

    .BookTitle span,
    .heading2 {
        color: #292e0a;
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 0px !important;
        text-align: center;
    }

    .btn-live {
        height: 41px;
        padding-top: 3px;
        width: 230px;
    }

    .platformsInner {
        display: table;
        margin: 20px auto 0;
    }

    .BookTitle,
    .circle {
        left: 0;
        margin: auto;
        right: 0;
        z-index: 999;
    }

    .bookContent .heading2 {
        margin-bottom: 20px;
        text-align: left;
    }

    @keyframes rotateElement {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @-moz-keyframes rotateElement {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes rotateElement {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .circle {
        animation: 70s linear infinite rotateElement;
        background: 0 0;
        border-radius: 100%;
        height: 700px;
        margin: 0 auto;
        position: relative;
        top: 280px;
        width: 700px;
    }

    .PortfolioTitle,
    .sliderCircle,
    .testSliderContent {
        position: relative;
    }

    .sliderCircle ul {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .sliderCircle ul li {
        left: 50%;
        position: absolute;
        top: -30%;
        transform: translateX(-50%);
    }

    .circle:after {
        background: #efefef;
        border-radius: 100%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    .sliderCircle ul li:nth-child(2) {
        left: 68%;
        top: -160px;
        transform: rotate(32deg);
    }

    .sliderCircle ul li:nth-child(3) {
        left: 6%;
        top: -160px;
        transform: rotate(-32deg);
    }

    .sliderCircle ul li:nth-child(4) {
        left: -120px;
        top: 15px;
        transform: rotate(-65deg);
    }

    .sliderCircle ul li:nth-child(5) {
        left: 89%;
        top: 13px;
        transform: rotate(63deg);
    }

    .sliderCircle ul li:nth-child(6) {
        left: 97%;
        top: 243px;
        transform: rotate(89deg);
    }

    .sliderCircle ul li:nth-child(7) {
        left: 89%;
        top: 465px;
        transform: rotate(116deg);
    }

    .sliderCircle ul li:nth-child(8) {
        bottom: -244px;
        left: 36%;
        transform: rotate(149deg);
    }

    .prevArrow img,
    .swiper-button-prev-has {
        transform: rotate(180deg);
    }

    .sliderCircle ul li:nth-child(9) {
        bottom: -236px;
        left: 37%;
        transform: rotate(180deg);
    }

    .sliderCircle ul li:nth-child(10) {
        bottom: -237px;
        left: 39%;
        transform: rotate(210deg);
    }

    .sliderCircle ul li:nth-child(11) {
        bottom: -223px;
        left: 37%;
        transform: rotate(238deg);
    }

    .sliderCircle ul li:nth-child(12) {
        bottom: -213px;
        left: 36%;
        transform: rotate(268deg);
    }

    .BookTitle span {
        display: inline-block;
        margin-bottom: 0px !important;
    }

    .BookTitle {
        align-items: center;
        bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;

        .typed-text {
            color: #1e4454;
            font-family: "Ivymode-bold" !important;
            font-size: 40px;
            font-weight: bold;
        }

        .cursor {
            background: var(--teal);
            display: inline-block;
            margin-left: 4px;
            width: 3px;
        }

        .cursor.blink {
            animation: blink 0.8s ease-in-out infinite;
        }

        @keyframes blink {

            0%,
            100% {
                background: var(--teal);
            }

            40%,
            50% {
                background: transparent;
            }
        }
    }

    .row.criclerow {
        height: 450px;
        overflow: hidden;
        position: relative;
    }

    .BookTitle .aboutCta,
    .contactFormContentLeft .aboutCta a.ctaLinePhone svg {
        margin-top: 10px;
    }

    .BookTitle a.btnYellow {
        background: #1b1402;
        color: #ffb703 !important;
    }

    .BookTitle:before {
        background-size: contain;
        bottom: 0;
        content: "";
        display: block;
        height: 275px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 38%;
        width: 1073px;
        z-index: 9;
    }
}

.brand {
    padding: 20px 0px;

    .d-flex {
        align-items: center;
        display: flex !important;
        justify-content: center;
    }

    img {
        margin: 0px 20px 0px 0px;
        padding: 0px 15px;
        width: 100%;
    }
}

.main-about {
    padding: 30px 0px;

    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .box {
        background: #1e4454;
        border: 1px solid;
        border-radius: 30px;
        color: white;
        display: flex;
        margin-top: 30px;
        padding: 5px 22px;
        position: relative;
        width: 290px;

        .number {
            display: flex;
            font-family: "Ivymode-bold";
            font-size: 30px;
        }

        .e-text {
            font-family: "Ivymode-bold";
            font-size: 14px;
            line-height: 17px;
            margin-top: 8px;
            padding-left: 12px;
            position: relative;
            text-transform: uppercase;
        }

        .plus {
            font-family: "Ivymode-bold";
            margin-left: 8px;
            margin-top: 10px;
        }
    }

    .form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
        margin: 10px auto;
        padding: 30px 20px;
        position: relative;
        width: 450px;

        .h3 {
            font-family: "Ivymode-semibold";
            font-size: 26px !important;
            margin-bottom: 30px;
            text-align: center;
        }

        .form-control:focus {
            border-color: unset;
            box-shadow: unset;
        }

        .form-control {
            border-radius: 0px;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            margin-bottom: 20px;
            padding: 10px;
            resize: none;
        }

        .btn-order {
            box-shadow: unset;
            width: 100%;
        }

        .red {
            color: #d40c0e;
            font-family: "Ivymode-bold";
            font-size: 30px;
        }

        label {
            background: white;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            font-weight: 500;
            margin-left: 5px;
            margin-top: -9px;
            padding: 0px 5px;
            position: absolute;
        }

        &::after {
            background: url($url + "/assets/frontend/images/icon/shape-dot.webp") no-repeat;
            content: "";
            height: 162px;
            position: absolute;
            right: -12%;
            top: 1%;
            width: 51px;
        }
    }
}

.we-solution {
    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .choose-box {
        padding: 25px;
        position: relative;

        p {
            font-size: 14px !important;
        }

        .h5 {
            font-family: "Ivymode-semibold";
        }

        &.box2 {
            &::before {
                background: #c9c9c9;
                content: "";
                height: 113%;
                left: 0%;
                opacity: unset;
                position: absolute;
                top: 0%;
                width: 1px;
            }

            &::after {
                background: #c9c9c9;
                content: "";
                height: 113%;
                opacity: unset;
                position: absolute;
                right: 0%;
                top: 0%;
                width: 1px;
            }
        }
    }

    .hr-line1 {
        background: #c9c9c9;
        height: 1px;
        margin: 0 auto;
        width: 80%;
    }

    .col-12.col-lg-4 {
        padding: 0px;
    }

    .btn-order {
        font-size: 13px !important;
        width: 250px;
    }
}

.book-writer {
    background-color: #b3001b;

    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .h2,
    p {
        color: white !important;
    }

    .btn-order,
    .btn-live,
    button {
        border-color: white !important;
        color: white !important;
        font-size: 12px !important;
        padding-top: 5px;
        width: 250px;
    }

    .btn-order {
        background-color: white !important;
        border-color: white !important;
        color: black !important;
    }

    .or {
        color: white;
        font-family: "Lato";
    }

    p {
        font-size: 15px;
    }
}

.how-we-work {
    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .how-box {
        border: 3px solid #f9efef;
        border-radius: 15px;
        height: 235px;
        margin: 40px 51px 0px 0px;
        padding: 30px 10px 20px;
        position: relative;
        text-align: center;

        &::after {
            background: url($url + "/assets/frontend/images/icon/arrow.webp") no-repeat;
            content: "";
            height: 12px;
            position: absolute;
            right: -24%;
            top: 45%;
            width: 50px;
        }

        &.box1 {
            &::after {
                display: none;
            }
        }

        &:hover {
            .btn-order {
                display: block;
                margin: 0 auto;
            }
        }

        p {
            font-size: 14px !important;
        }

        .number {
            color: #1e4454;
            font-family: "Lato";
            font-size: 30px;
            font-weight: 700;
            position: absolute;
            right: 7px;
            top: 3px;
        }

        img {
            height: 50px;
            width: 50px;
        }

        .h6 {
            display: block;
            font-family: "Ivymode-semibold";
            font-size: 17px !important;
            margin: 10px 0px;
        }

        .btn-order {
            display: none;
            font-size: 11px !important;
            margin: 0 auto;
            padding-top: 10px;
        }
    }
}

.samples {
    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    img {
        width: 100%;
    }
}

.why-choose {
    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .box {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 30px 16px 10px;
        position: relative;

        img {
            height: 48px;
            overflow: hidden;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px grey;
        }

        .h6 {
            font-size: 14px !important;
            margin: 10px 0px 15px;
        }
    }

    .btn-order,
    .btn-live,
    button {
        font-size: 13px !important;
        height: 40px;
        margin: 0px 10px 0px 0px;
        padding-top: 5px;
        width: 190px;
    }

    .email {
        color: #1e4454;
        display: block;
        font-family: "Ivymode-semibold";
        font-size: 13px;
        margin-top: 30px;

        a {
            color: #1e4454;
            font-family: "Lato";
        }
    }
}

.award-banner {
    background-color: #b3001b;
    padding: 10px 0px;

    .h2 {
        color: white !important;
        font-family: "Ivymode-semibold";
    }

    p {
        color: white;
        display: block;
        font-size: 21px;
        margin-top: 43px;
    }

    .light {
        color: white;
        font-family: "Ivymode-semibold";
    }

    .grey {
        color: white;
    }

    .btn-live,
    button {
        background-color: transparent;
        border-color: white !important;
        color: white !important;
        font-size: 13px !important;
        padding-top: 5px;
        width: 250px;
    }

    .btn-order {
        background-color: white !important;
        color: black !important;
        width: 250px !important;
    }

    .or {
        color: white;
        font-family: "Ivymode-semibold";
        font-size: 14px;
    }

    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }
}

.content-section {
    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .h4 {
        font-family: "Ivymode-semibold";
        font-size: 25px;
        margin-top: 10px;
    }

    #style-2::-webkit-scrollbar-track {
        background-color: transparent;
    }

    #style-2::-webkit-scrollbar {
        background: linear-gradient(90deg, white 20%, #d5d5d5 60%, white 20%);
        box-shadow: none;
        width: 6px;
    }

    #style-2::-webkit-scrollbar-thumb {
        background-color: #1e4454;
        border-radius: 0px;
    }

    .scrollbar {
        height: 350px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 25px;

        &::before {
            background: url($url + "/assets/frontend/images/icon/arrow-left.webp") no-repeat;
            background-color: #ffffff;
            background-position: 15px;
            content: "";
            height: 21px;
            margin: 0;
            padding-left: 124px;
            padding-right: 0px;
            position: absolute;
            right: 74px !important;
            top: 15%;
            transform: rotate(-89deg);
            width: 19px;
        }

        &::after {
            background: url($url + "/assets/frontend/images/icon/arrow-right.webp") no-repeat;
            background-color: white;
            bottom: 6% !important;
            content: "";
            height: 20px;
            margin: 0;
            padding-right: 40px;
            position: absolute;
            right: 117px !important;
            transform: rotate(-89deg);
            width: 18px;
        }
    }
}

.cta {
    background-color: #b3001b;
    margin-top: 50px;
    padding: 0px 0px;

    .box-end {
        align-items: center;
        display: flex;
        justify-content: end;
    }

    .h2,
    p {
        color: white !important;
    }

    .book {
        display: block;
        margin: 0 auto;
        transform: scale(1.1) translate(0px, -14px);
    }

    .btn-live {
        background-color: #fff7f7 !important;
        border-color: white !important;
        color: #121212 !important;
        font-size: 12px !important;
        padding-top: 10px;
        width: 200px;
    }

    .e-text {
        color: white;
        display: block;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
    }

    .phone {
        font-weight: bold;

        button {
            background: transparent !important;
            border: none !important;
        }
    }

    .dem {
        padding-right: 10px;
        text-align: right;
    }

    .btn-order {
        padding: 6px 20px !important;
    }

    .phn-box {
        bottom: 20%;
        left: 27%;
        position: absolute;
        right: auto;
    }

    a {
        font-family: "Ivymode-bold";
        font-size: 18px;
    }

    &.cta1 {
        margin-top: 0px;
        padding: 50px 0px;

        .dem {
            padding-right: 0px;
            text-align: right;
        }

        .btn-live {
            margin: 0 auto;
        }
    }
}

.faqs {
    .accordion {
        margin-top: 30px;
    }

    .accordion-button {
        background-color: transparent;
        color: #333333;
        font-family: "Ivymode-semibold";
        font-size: 14px;
    }

    .accordion-button:not(.collapsed) {
        background-color: #f9f7f6;
        box-shadow: unset;
        color: #333333;
        padding-bottom: 6px;
    }

    .accordion-body {
        background-color: #f9f7f6;
        padding: 1rem 1.25rem;
    }

    .accordion-header {
        margin-bottom: 0px !important;
    }

    .accordion-item {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.125) !important;
        border-radius: 5px;
        margin-top: 13px;
    }

    .accordion-button:focus {
        box-shadow: unset !important;
    }

    .form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
        margin: 10px auto;
        padding: 30px 20px;
        position: relative;
        width: 450px;

        .red {
            color: #d40c0e;
            font-family: 'Ivymode-bold';
            font-size: 30px;
        }

        .h3 {
            font-family: "Ivymode-semibold";
            font-size: 22px !important;
            margin-bottom: 30px;
            text-align: center;
        }

        .form-control:focus {
            border-color: unset;
            box-shadow: unset;
        }

        .form-control {
            border-radius: 0px;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            margin-bottom: 20px;
            padding: 10px;
            resize: none;
        }

        .btn-order {
            box-shadow: unset;
            width: 100%;
        }

        label {
            background: white;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            font-weight: 500;
            margin-left: 5px;
            margin-top: -9px;
            padding: 0px 5px;
            position: absolute;
        }
    }

    .phone-link {
        color: #000 !important;
    }
}

.reviews {
    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .review-box {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        min-height: 255px;
        padding: 20px;
        position: relative;

        .cards-body {
            min-height: 140px;
        }

        .h5 {
            font-family: "Ivymode-semibold";
            font-size: 17px !important;
            margin-bottom: 0px;
        }

        .e-text {
            color: #1e4454;
            font-family: "Lato";
            font-size: 12px;
            font-weight: 400;
        }
    }

    .swiper {
        overflow: hidden !important;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-pagination {
        bottom: 0px !important;
        margin-top: 0px;
        position: relative;
        top: 25px !important;
        z-index: 1;
    }

    .review-slider {
        padding-top: 16px;
    }

    .swiper-pagination-bullet {
        background: #1e4454 !important;
        color: #1e4454;
        height: 10px;
        margin: 0px 3px;
        margin-top: 20px;
        width: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: #d40c0e !important;
        border-radius: 50px;
        height: 10px;
        width: 50px;
    }

    .swiper-slide-active {
        background-color: #f9f7f6 !important;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 25%) !important;
    }

    .swiper-wrapper {
        margin: 7px 0px;
    }

    .swiper-button-next {
        bottom: 4.5%;
        left: auto;
        position: absolute;
        right: 43%;
        top: auto;
    }

    .swiper-button-prev {
        bottom: 4.5%;
        left: auto;
        position: absolute;
        right: 55%;
        top: auto;
    }
}

.modal-backdrop {
    z-index: 1 !important;
}

.modal-open .modal {
    overflow: hidden;
}

.onload-popup {
    background: rgb(0 0 0 / 76%);

    &.active-popup {
        display: block;

        &.fade:not(.show) {
            opacity: 1;
        }
    }

    .modal-dialog {
        margin-top: 8%;

        .bg-banner {
            background: url($url + "/assets/frontend/images/sample/popup-bg.webp") no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            min-height: 400px;
            padding: 20px;
            width: 600px;
        }

        .modal-content {
            background: transparent;
            border: 5px solid #ffffff;
            padding: 20px;

            .modal-header {
                align-items: center;
                background: #ff0506;
                border: 0;
                border-radius: 40px;
                height: 50px;
                justify-content: center !important;
                position: absolute;
                right: -30px;
                top: -30px;
                width: 50px;

                button {
                    filter: invert(1);
                    font-size: 30px;
                    height: 20px !important;
                    margin: 0 auto;
                    opacity: 1;
                    padding: 0;
                    width: 20px !important;
                }
            }

            .modal-body {
                padding: 5px 10px;

                .h1 {
                    bottom: 0;
                    color: #fff;
                    display: table;
                    font-family: "Lato";
                    font-size: 45px;
                    margin-left: auto;
                    position: relative;
                    right: 0px;
                    top: 90px;
                }

                .h2 {
                    color: #fff !important;
                    font-family: "Ivymode-bold";
                    font-size: 18px !important;
                    font-weight: 500;
                    line-height: 20px !important;
                    margin-bottom: 0px !important;
                    text-align: center;

                    .orange-highlight {
                        color: #1e4454;
                        display: block;
                        font-size: 30px;
                        text-indent: -5px;
                    }
                }

                .form-control {
                    font-family: "Lato";
                    margin: 5px 0 0;
                }

                input {
                    height: 40px;
                }

                .btn-order {
                    background: #d40c0e !important;
                    color: #fff !important;
                    display: block !important;
                    font-size: 18px !important;
                    height: 40px;
                    margin: 0 0px;
                    margin-top: 15px;
                    max-width: 100%;
                    width: 100%;
                }

                p {
                    color: #fff;
                    margin-bottom: 0;
                    margin-top: 10px;
                    text-align: center;
                }
            }

            img {
                border: 0;
                bottom: 0px;
                filter: drop-shadow(0px 10px 10px #333);
                left: -150px;
                position: absolute;
                top: 20px;
                width: 510px;
            }
        }
    }
}

.fixed-btn-wa {
    align-items: center;
    -webkit-animation: mover 5s infinite alternate;
    animation: mover 0.8s infinite alternate;
    background: #25d366;
    border-radius: 100px;
    bottom: 5px;
    box-shadow: 0px 5px 10px 0px #0000003b;
    color: #fff !important;
    display: flex;
    font-size: 40px;
    height: 60px;
    justify-content: center;
    left: 10px;
    position: fixed;
    width: 60px;
    z-index: 9999;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@media (max-width: 767px) {
    .cta .box-end {
        justify-content: center;
        margin-bottom: 16px;
    }

    .hr-line {
        display: none;
    }

    .main-banner::before {
        display: none;
    }

    header .navbar {
        background: #070607;
    }

    .how-we-work .col-12.col-lg-3 {
        width: 100% !important;
    }

    .how-we-work .how-box {
        margin: 40px 0px 0px 0px;
    }

    .samples img {
        margin-bottom: 20px;
        width: 100%;
    }

    .samples {
        padding-bottom: 0px;
    }

    .cta {
        padding: 20px 0px;
    }

    .cta .book {
        display: block;
        margin: 0 auto;
        transform: scale(1) translate(0px, 19px);
    }

    .cta .phn-box {
        display: none;
    }

    .navbar-collapse {
        display: none;
    }

    .how-we-work .how-box::after {
        display: none;
    }

    .h1 {
        font-size: 35px !important;
    }

    .main-about .form {
        width: auto;
    }

    .main-about .form::after {
        display: none;
    }

    .sitebar {
        display: none;
    }

    .btn-order,
    .btn-live {
        display: block !important;
        padding: 10px 50px !important;
        width: 100% !important;
    }

    .main-banner .or {
        display: block;
        margin: 10px 10px;
        text-align: center;
    }

    .cta img {
        margin: 20px;
    }

    .main-banner .form {
        margin-top: 10%;
    }

    .main-about .h3 {
        margin-top: 30px;
    }

    .main-about .box {
        width: auto;
    }

    .h3 {
        font-size: 21px !important;
    }

    .main-banner .rated {
        font-size: 15px;
    }

    br {
        display: none;
    }

    .we-solution .hr-line1 {
        display: none;
    }

    .we-solution::after {
        display: none;
    }

    .we-solution .choose-box {
        text-align: center;
    }

    .we-solution .choose-box .h5 {
        margin: 10px 0px;
    }

    .we-solution::before {
        display: none;
    }

    .we-solution .row.m-t-50 {
        margin-top: 0px !important;
    }

    .book-writer .or {
        display: block;
        margin: 10px;
        text-align: center;
    }

    .book-writer img {
        margin-top: 50px;
    }

    .samples .book-frame .book {
        margin: 20px 0px;
    }

    .cta .dem {
        text-align: center;
    }

    .cta {
        text-align: center;
    }

    .cta .btn-order {
        margin: 20px 0px;
    }

    .why-choose .btn-order {
        margin-bottom: 15px;
    }

    .award-banner .or {
        display: block;
        margin: 10px;
        text-align: center;
    }

    .award-banner img {
        margin: 30px 0px;
    }

    .reviews .swiper-button-next {
        display: none;
    }

    .reviews .swiper-button-prev {
        display: none;
    }

    .content-section .scrollbar::before {
        display: none;
    }

    .content-section .scrollbar::after {
        display: none;
    }

    .faqs .h3 {
        margin-top: 30px;
    }

    .main-about .box .e-text {
        margin-top: 13px;
    }

    .h5 {
        font-size: 13px !important;
    }

    .or {
        display: block;
        margin: 10px !important;
        text-align: center;
    }

    .counter .c-text {
        display: block;
        margin-bottom: 40px;
    }

    .our-team .col-12.col-lg-2 {
        width: auto;
    }

    p {
        font-size: 16px;
    }

    .reviews .review-box {
        margin-bottom: 30px;
    }

    .cta .dem {
        text-align: center !important;
    }

    .why-choose .btn-order,
    .why-choose .btn-live {
        display: block !important;
    }

    .main-banner .h1 {
        font-size: 40px !important;
        margin-bottom: 25px !important;
    }

    .main-banner .h5 {
        background: transparent;
        box-shadow: unset;
        color: black !important;
        font-size: 13px !important;
        line-height: 20px !important;
        padding: 0px;
    }

    .main-banner .row.criclerow {
        display: none;
    }

    .onload-popup .modal-dialog .bg-banner {
        background-size: unset;
        min-height: 400px;
        padding: 10px;
        width: auto;
    }

    .onload-popup .modal-dialog .modal-content {
        padding: 10px;
    }

    .award-banner .btn-order {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .main-banner .form::after {
        display: none;
    }

    .reviews .swiper-pagination {
        display: none;
    }

    .reviews .review-box {
        margin-bottom: 0px !important;
    }

    .why-choose .btn-order,
    .why-choose .btn-live {
        padding: 10px 30px !important;
    }

    .samples {
        .col-12.col-md-6.col-lg-3 {
            width: 50%;
        }
    }

    .how-we-work {
        .col-12.col-lg-3 {
            width: 50%;
        }
    }

    .main-banner .form {
        margin-top: 40px;
    }

    header .navbar {
        background: #070607;
    }

    .btn-order,
    .btn-live {
        margin: 10px 10px 0px 0px;
        padding: 8px 50px !important;
        width: 100%;
    }

    .why-choose .email {
        text-align: left !important;
    }

    .or {
        display: block;
        margin: 10px !important;
        text-align: center;
    }

    .cta {
        .text-start {
            text-align: center !important;
        }
    }

    .why-choose .box {
        text-align: center;
    }

    .main-about .h3 {
        margin-top: 40px;
    }

    .reviews .swiper-pagination {
        display: none;
    }

    .reviews .review-box {
        margin-bottom: 0px !important;
    }

    .we-solution::after {
        display: none;
    }

    .hr-line {
        display: none;
    }

    .faqs .form {
        margin-top: 50px;
        width: auto;
    }

    .faqs .offset-md-1 {
        margin-left: 0;
    }

    .faqs .form {
        .col-6 {
            width: 100%;
        }
    }

    .we-solution .hr-line1 {
        display: none;
    }

    .we-solution .offset-md-1 {
        margin-left: 0px !important;
    }

    .book-writer img {
        margin-top: 40px;
    }

    .samples .book {
        margin-bottom: 30px;
    }

    .cta .offset-md-2 {
        margin-left: 0px;
    }

    .award-banner img {
        margin: 30px 0px;
    }

    .content-section .scrollbar::before {
        display: none;
    }

    .content-section .scrollbar::after {
        display: none;
    }

    .reviews {
        padding-bottom: 0px;
    }

    .reviews .swiper-button-next {
        display: none;
    }

    .reviews .swiper-button-prev {
        display: none;
    }

    .faqs .offset-md-1 {
        margin-left: 0;
    }

    .faqs .form {
        .col-6 {
            width: 100%;
        }
    }

    .main-banner .BookTitle {
        display: none;
    }

    .main-banner .circle:after {
        display: none;
    }

    .main-banner::after {
        display: none;
    }

    .h2 {
        font-size: 22px !important;
    }

    .faqs .form .form-control {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .row.criclerow {
        transform: scale(1.1);
    }

    .samples {
        padding-top: 0px;
    }

    .main-banner .row.criclerow {
        height: 340px;
    }

    .brand {
        margin-top: 30px;
    }

    .we-solution .choose-box.box2::before,
    .we-solution .choose-box.box2::after {
        display: none;
    }

    .we-solution .btn-order {
        font-size: 13px !important;
        width: 271px;
    }

    .book-writer .or {
        display: none;
    }

    .how-we-work .how-box::after {
        display: none;
    }

    .cta .btn-live {
        padding: 10px 30px !important;
    }

    .cta .book {
        display: block;
        margin: 0 auto;
        transform: scale(1) translate(0px, 0px);
    }

    .award-banner .or {
        display: none;
    }

    .cta .phn-box {
        bottom: 20%;
        left: 18%;
        position: absolute;
        right: auto;
    }

    .brand img {
        width: 20%;
    }

    .faqs .form label {
        font-size: 10px !important;
    }

    .faqs .form .form-control {
        font-size: 10px !important;
    }

    .we-solution::before {
        display: none;
    }

    .faqs .h3 {
        margin-top: 40px;
    }

    .counter .c-text {
        display: block;
        margin-bottom: 40px;
    }

    .counter .offset-md-1 {
        margin-left: 0px;
    }

    .counter .h1 {
        font-size: 30px !important;
    }

    .counter .c-text {
        font-size: 18px;
        margin-top: 15px;
    }

    .cta .btn-order {
        margin: 0px 0px !important;
    }

    br {
        display: none;
    }

    .faqs .form label {
        font-size: 15px;
        margin-top: -10px;
    }

    .email {
        margin: 20px;
        text-align: center;
    }

    p {
        font-size: 16px;
    }

    .reviews .review-box {
        margin-bottom: 20px;
    }

    .order-form .form-control {
        padding: 0.6rem 0.5rem;
    }

    .order-form .upload-text,
    .pdf-text {
        margin-left: 25px !important;
    }

    .order-form .h5 {
        font-size: 18px !important;
    }

    .contact-form .offset-md-2 {
        margin-left: 0px;
    }

    .contact-form .form label {
        font-size: 15px;
    }

    .contact-form .icon-box .c-text {
        margin-bottom: 30px;
    }

    .contact-form .form .form-control {
        margin-bottom: 20px;
        padding: 20px;
    }
}

@media (max-width: 1199px) {
    .content-section .scrollbar::before {
        right: 72px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .order-form {
        height: 84% !important;
        padding: 1% 0 0 !important;
    }

    .how-we-work .how-box::after {
        right: -29%;
    }
}

@media (min-width: 1400px) {
    .we-solution:after {
        left: 59% !important;
    }

    .we-solution::before {
        margin-left: 42px !important;
    }

    .order-form {
        height: 88% !important;
    }
}

@media (max-width: 540px) {
    .main-banner {
        margin-top: 100px;
        padding: 50px 0;

        .p-b-0.m-b-0 {
            display: none;
        }
    }

    .main-banner .h2 {
        font-size: 30px !important;
    }

    .main-banner .h1 {
        font-size: 35px !important;
    }
}

@media (max-width: 404px) {}
