@import 'shared/layout';

.main-banner {
    margin-top: 140px;
    padding: 20px 0px 0px;

    &::before {
        background: url($url + '/assets/frontend/images/sample/path.webp') no-repeat;
        background-size: contain;
        content: "";
        height: 585px;
        position: absolute;
        right: -14.5%;
        top: -65%;
        width: 675px;
        z-index: -1 !important;
    }

    .h2,
    .h1,
    p {
        color: #1E4454;
    }

    p {
        font-size: 16px !important;
    }

    .h1 {
        font-size: 42px !important;
        margin-bottom: 36px !important;
    }

    .h2 {
        font-size: 35px !important;
    }

    .font-red {
        color: #D40C0E;
    }

    .grey {
        color: #1E4454;
    }

    .h5 {
        background: #1E4454;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px #1E4454;
        color: white !important;
        display: inline;
        font-family: 'Lato';
        font-size: 14px !important;
        font-weight: 300;
        padding: 10px 29px;
    }

    .btn-order {
        box-shadow: 0px 0px 10px 1px #1E4454;
        font-size: 13px;
        font-size: 14px !important;
        height: 41px;
        padding: 10px 30px !important;
        width: 200px;
    }

    .btn-order-transparent {
        border-color: #1E4454;
        color: #1E4454;
        font-size: 13px;
        padding: 10px 50px !important;
    }

    .or {
        color: #1E4454;
        font-family: 'Lato';
        font-size: 13px;
        font-weight: 500;
        margin: 0px 10px;
    }

    img {
        margin: 0px 5px;
        max-width: max-content;
    }

    .rated {
        color: #1E4454;
        display: block;
        font-family: 'Lato';
        margin-top: 25px;
    }

    .bannerContent {
        padding-top: 180px;
    }

    .e-text {
        font-family: 'Lato' !important;
        font-size: 9px !important;
    }

    .row {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .typed {
        color: red;
    }

    .bannerContent p {
        color: #fff;
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    a.btnPrimary:after {
        background: #1a1302 !important;
        border-radius: 100%;
        content: "";
        height: 28px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.25s;
        width: 28px;
    }

    a.btnPrimary:hover:after {
        border-radius: 0;
        bottom: -5px;
        height: 105%;
        right: -5px;
        width: 105%;
    }

    .tabCont p,
    p {
        font-size: 18px;
    }

    .aboutCta {
        align-items: center;
        display: flex;
        z-index: 9999;
    }

    .aboutCta a.ctaLinePhone {
        color: #292e0a !important;
        display: flex;
        flex-direction: column;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        margin-left: 30px;
        text-decoration: none;
    }

    .tabCont p,
    p {
        line-height: 28px;
    }

    .aboutCta a.ctaLinePhone span.smallTitleLine {
        line-height: 17px;
        margin: 0;
        padding-left: 35px;
    }

    .aboutCta a.ctaLinePhone span.smallTitleLine:before {
        top: 9px;
        width: 28px;
    }

    a.ctaLinePhone {
        padding-left: 60px;
        position: relative;
    }

    [class^="box-"].showfirst {
        display: block;
    }

    .port-content {
        border-left: 1px solid #9ab3ae;
        color: #fff;
        margin: 50px auto 0 !important;
        max-width: 70% !important;
        padding-left: 30px !important;
    }

    .custom-tab-list ul {
        align-items: start;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 120px 0 0;
    }

    .custom-tab-list ul li span {
        display: block;
        font-size: 14px;
    }

    .BookTitle span,
    .heading2 {
        color: #292e0a;
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 0px !important;
        text-align: center;
    }

    p {
        color: #292e0a;
    }

    .btn-live,
    button {
        height: 41px;
        padding-top: 5px;
        width: 200px;
    }

    .platformsInner {
        display: table;
        margin: 20px auto 0;
    }

    .BookTitle,
    .circle {
        left: 0;
        margin: auto;
        right: 0;
        z-index: 999;
    }

    .bookContent .heading2 {
        margin-bottom: 20px;
        text-align: left;
    }

    @keyframes rotateElement {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @-moz-keyframes rotateElement {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes rotateElement {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .circle {
        animation: 70s linear infinite rotateElement;
        background: 0 0;
        border-radius: 100%;
        height: 700px;
        margin: 0 auto;
        position: relative;
        top: 280px;
        width: 700px;
    }

    .PortfolioTitle,
    .sliderCircle,
    .testSliderContent {
        position: relative;
    }

    .sliderCircle ul {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .sliderCircle ul li {
        left: 50%;
        position: absolute;
        top: -30%;
        transform: translateX(-50%);
    }

    .circle:after {
        background: #EFEFEF;
        border-radius: 100%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    .sliderCircle ul li:nth-child(2) {
        left: 68%;
        top: -160px;
        transform: rotate(32deg);
    }

    .sliderCircle ul li:nth-child(3) {
        left: 6%;
        top: -160px;
        transform: rotate(-32deg);
    }

    .sliderCircle ul li:nth-child(4) {
        left: -120px;
        top: 15px;
        transform: rotate(-65deg);
    }

    .sliderCircle ul li:nth-child(5) {
        left: 89%;
        top: 13px;
        transform: rotate(63deg);
    }

    .sliderCircle ul li:nth-child(6) {
        left: 97%;
        top: 243px;
        transform: rotate(89deg);
    }

    .sliderCircle ul li:nth-child(7) {
        left: 89%;
        top: 465px;
        transform: rotate(116deg);
    }

    .sliderCircle ul li:nth-child(8) {
        bottom: -244px;
        left: 36%;
        transform: rotate(149deg);
    }

    .prevArrow img,
    .swiper-button-prev-has {
        transform: rotate(180deg);
    }

    .sliderCircle ul li:nth-child(9) {
        bottom: -236px;
        left: 37%;
        transform: rotate(180deg);
    }

    .sliderCircle ul li:nth-child(10) {
        bottom: -237px;
        left: 39%;
        transform: rotate(210deg);
    }

    .sliderCircle ul li:nth-child(11) {
        bottom: -223px;
        left: 37%;
        transform: rotate(238deg);
    }

    .sliderCircle ul li:nth-child(12) {
        bottom: -213px;
        left: 36%;
        transform: rotate(268deg);
    }

    .BookTitle span {
        display: inline-block;
        margin-bottom: 0px !important;
    }

    .BookTitle {
        align-items: center;
        bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;

        .typed-text {
            color: #1e4454;
            font-family: 'Ivymode-bold' !important;
            font-size: 40px;
            font-weight: bold;
        }

        .cursor {
            background: var(--teal);
            display: inline-block;
            margin-left: 4px;
            width: 3px;
        }

        .cursor.blink {
            animation: blink 0.8s ease-in-out infinite;
        }

        @keyframes blink {

            0%,
            100% {
                background: var(--teal);
            }

            40%,
            50% {
                background: transparent;
            }
        }
    }

    .row.criclerow {
        height: 450px;
        overflow: hidden;
        position: relative;
    }

    .BookTitle .aboutCta,
    .contactFormContentLeft .aboutCta a.ctaLinePhone svg {
        margin-top: 10px;
    }

    .BookTitle a.btnYellow {
        background: #1b1402;
        color: #ffb703 !important;
    }

    .BookTitle:before {
        background-size: contain;
        bottom: 0;
        content: "";
        display: block;
        height: 275px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 38%;
        width: 1073px;
        z-index: 9;
    }
}

.brand {
    padding: 20px 0px;

    .d-flex {
        align-items: center;
        display: flex !important;
        justify-content: center;
    }

    img {
        margin: 0px 20px 0px 0px;
        padding: 0px 15px;
        width: 100%;
    }
}

.reviews {
    padding-top: 45px;

    .font-red {
        color: #D40C0E;
    }

    .review-box {
        border: 1px solid #C9C9C9;
        border-radius: 5px;
        min-height: 255px;
        padding: 20px;
        position: relative;

        .cards-body {
            min-height: 140px;
        }

        .h5 {
            font-family: 'Ivymode-semibold';
            font-size: 17px !important;
            margin-bottom: 0px;
        }

        .e-text {
            color: #1E4454;
            font-family: 'Lato';
            font-size: 12px;
            font-weight: 400;
        }
    }

    .swiper {
        overflow: hidden !important;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-pagination {
        bottom: 0px !important;
        margin-top: 0px;
        position: relative;
        top: 25px !important;
        z-index: 1;
    }

    .review-slider {
        padding-top: 16px;
    }

    .swiper-pagination-bullet {
        background: #1E4454 !important;
        color: #1E4454;
        height: 10px;
        margin: 0px 3px;
        margin-top: 20px;
        width: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: #D40C0E !important;
        border-radius: 50px;
        height: 10px;
        width: 50px;
    }

    .swiper-slide-active {
        background-color: #F9F7F6 !important;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 25%) !important;
    }

    .swiper-wrapper {
        margin: 7px 0px;
    }

    .swiper-button-next {
        bottom: 4.5%;
        left: auto;
        position: absolute;
        right: 43%;
        top: auto;
    }

    .swiper-button-prev {
        bottom: 4.5%;
        left: auto;
        position: absolute;
        right: 55%;
        top: auto;
    }
}

.cta {
    background-color: #B3001B;
    margin-top: 50px;
    padding: 0px 0px;

    .box-end {
        align-items: center;
        display: flex;
        justify-content: end;
    }

    .h2,
    p {
        color: white !important;
    }

    .book {
        display: block;
        margin: 0 auto;
        transform: scale(1.1) translate(0px, -14px);
    }

    .btn-live {
        background-color: #1E4454 !important;
        border-color: #1E4454 !important;
        color: #fff !important;
        font-size: 12px !important;
        padding-top: 10px;
        width: 200px;
    }

    .e-text {
        color: white;
        display: block;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
    }

    .phone {
        font-weight: bold;

        button {
            background: transparent !important;
            border: none !important;
        }
    }

    .dem {
        padding-right: 10px;
        text-align: right;
    }

    .btn-order {
        padding: 6px 20px !important;
    }

    .phn-box {
        bottom: 20%;
        left: 27%;
        position: absolute;
        right: auto;
    }

    a {
        font-family: "Ivymode-bold";
        font-size: 18px;
    }

    &.cta1 {
        margin-top: 0px;
        padding: 50px 0px;

        .dem {
            padding-right: 0px;
            text-align: right;
        }

        .btn-live {
            margin: 0 auto;
        }
    }
}

.pricing {
    padding-bottom: 30px;

    .pricing-details {
        border: 1px solid #C9C9C9;
        margin-bottom: 28px;
        padding: 24px 16px;
        position: relative;

        span.h5 {
            font-size: 19px !important;
            margin-bottom: 16px;
        }

        ul {
            padding-left: 0px;

            li {
                font-size: 13px;
                list-style: none;
            }
        }

        p {
            margin-bottom: 8px !important;
        }

        span.h6 {
            color: #B3001B !important;
            font-size: 16px !important;
            margin-bottom: 20px;
        }

        button {
            background: transparent !important;
            border: none !important;
        }

        button.btn-order {
            width: 130px;
        }

        .c-image {
            .pricing-image {
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }

        .arrow-ribbon {
            background: #D40C0E;
            color: #FFF;
            font-family: "Lato";
            font-size: 15px;
            padding: 4px 8px;
            position: absolute;
            right: 0px;
            top: 10px;

            &::before {
                border-bottom: 15px solid transparent;
                border-right: 12px solid #D40C0E;
                border-top: 15px solid transparent;
                bottom: 0;
                content: "";
                left: -12px;
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
            }
        }
    }
}

.c-image {
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal-backdrop {
    z-index: 1 !important;
}

.modal-open .modal {
    overflow: hidden;
}

.onload-popup {
    background: rgb(0 0 0 / 76%);

    &.active-popup {
        display: block;

        &.fade:not(.show) {
            opacity: 1;
        }
    }

    .modal-dialog {
        margin-top: 8%;

        .bg-banner {
            background: url($url + '/assets/frontend/images/sample/popup-bg.webp') no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            min-height: 400px;
            padding: 20px;
            width: 600px;
        }

        .modal-content {
            background: transparent;
            border: 5px solid #FFFFFF;
            padding: 20px;

            .modal-header {
                align-items: center;
                background: #FF0506;
                border: 0;
                border-radius: 40px;
                height: 50px;
                justify-content: center !important;
                position: absolute;
                right: -30px;
                top: -30px;
                width: 50px;

                button {
                    filter: invert(1);
                    font-size: 30px;
                    height: 20px !important;
                    margin: 0 auto;
                    opacity: 1;
                    padding: 0;
                    width: 20px !important;
                }
            }

            .modal-body {
                padding: 5px 10px;

                .h1 {
                    bottom: 0;
                    color: #fff;
                    display: table;
                    font-family: 'Lato';
                    font-size: 45px;
                    margin-left: auto;
                    position: relative;
                    right: 0px;
                    top: 90px;
                }

                .h2 {
                    color: #fff !important;
                    font-family: 'Ivymode-bold';
                    font-size: 18px !important;
                    font-weight: 500;
                    line-height: 20px !important;
                    margin-bottom: 0px !important;
                    text-align: center;

                    .orange-highlight {
                        color: #1E4454;
                        display: block;
                        font-size: 30px;
                        text-indent: -5px;
                    }
                }

                .form-control {
                    font-family: 'Lato';
                    margin: 5px 0 0;
                }

                input {
                    height: 40px;
                }

                .btn-order {
                    background: #d40c0e !important;
                    color: #fff !important;
                    display: block !important;
                    font-size: 18px !important;
                    height: 40px;
                    margin: 0 0px;
                    margin-top: 15px;
                    max-width: 100%;
                    width: 100%;
                }

                p {
                    color: #fff;
                    margin-bottom: 0;
                    margin-top: 10px;
                    text-align: center;
                }
            }

            img {
                border: 0;
                bottom: 0px;
                filter: drop-shadow(0px 10px 10px #333);
                left: -150px;
                position: absolute;
                top: 20px;
                width: 510px;
            }
        }
    }
}

.fixed-btn-wa {
    align-items: center;
    -webkit-animation: mover 5s infinite alternate;
    animation: mover 0.8s infinite alternate;
    background: #25D366;
    border-radius: 100px;
    bottom: 5px;
    box-shadow: 0px 5px 10px 0px #0000003b;
    color: #fff !important;
    display: flex;
    font-size: 40px;
    height: 60px;
    justify-content: center;
    left: 10px;
    position: fixed;
    width: 60px;
    z-index: 9999;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@media (max-width: 767px) {
    .cta .box-end {
        justify-content: center;
        margin-bottom: 16px;
    }

    .cta {
        padding: 20px 0px;
    }

    .cta .book {
        display: block;
        margin: 0 auto;
        transform: scale(1) translate(0px, 19px);
    }

    .cta .phn-box {
        display: none;
    }

    .cta img {
        margin: 20px;
    }

    .cta .dem {
        text-align: center;
    }

    .cta {
        text-align: center;
    }

    .cta .btn-order {
        margin: 20px 0px;
    }

    .cta .dem {
        text-align: center !important;
    }

    .reviews .swiper-button-next {
        display: none;
    }

    .reviews .swiper-button-prev {
        display: none;
    }

    .reviews .review-box {
        margin-bottom: 30px;
    }

    .main-banner::before {
        display: none;
    }

    header .navbar {
        background: #070607;
    }

    .navbar-collapse {
        display: none;
    }

    .h1 {
        font-size: 35px !important;
    }

    .main-banner .h5 {
        font-size: 10px !important;
        padding: 10px 10px;
    }

    .btn-order,
    .btn-live {
        display: block !important;
        padding: 10px 50px !important;
        width: 100% !important;
    }

    .main-banner .or {
        display: block;
        margin: 10px 10px;
        text-align: center;
    }

    .main-banner .form {
        margin-top: 10%;
    }

    .main-banner .rated {
        font-size: 15px;
    }

    br {
        display: none;
    }

    .main-banner .h1 {
        font-size: 40px !important;
        margin-bottom: 25px !important;
    }

    .main-banner .h5 {
        background: transparent;
        box-shadow: unset;
        color: black !important;
        font-size: 13px !important;
        line-height: 30px !important;
        padding: 10px;
    }

    .main-banner .row.criclerow {
        display: none;
    }
}

@media (max-width: 991px) {
    .reviews .review-slider {
        margin-bottom: 40px;
        padding-top: 16px;
    }

    .pricing-image {
        margin-top: 24px;
    }

    .pricing .pricing-details button.btn-order {
        width: 100%;
    }

    .main-banner .form::after {
        display: none;
    }

    .cta {
        .text-start {
            text-align: center !important;
        }
    }

    .cta .offset-md-2 {
        margin-left: 0px;
    }

    .cta .btn-live {
        padding: 10px 30px !important;
    }

    .cta .book {
        display: block;
        margin: 0 auto;
        transform: scale(1) translate(0px, 0px);
    }

    .cta .phn-box {
        bottom: 20%;
        left: 18%;
        position: absolute;
        right: auto;
    }

    .cta .btn-order {
        margin: 0px 0px !important;
    }

    .main-banner .form {
        margin-top: 40px;
    }

    .reviews .swiper-pagination {
        display: none;
    }

    .reviews .review-box {
        margin-bottom: 0px !important;
    }

    .reviews {
        padding-bottom: 0px;
    }

    .reviews .swiper-button-next {
        display: none;
    }

    .reviews .swiper-button-prev {
        display: none;
    }

    .reviews .review-box {
        margin-bottom: 20px;
    }

    header .navbar {
        background: #070607;
    }

    .btn-order,
    .btn-live {
        margin: 10px 10px 0px 0px;
        padding: 8px 50px !important;
        width: 100%;
    }

    .main-banner .BookTitle {
        display: none;
    }

    .main-banner .circle:after {
        display: none;
    }

    .main-banner::after {
        display: none;
    }

    .h2 {
        font-size: 22px !important;
    }

    .main-banner .row.criclerow {
        height: 340px;
    }

    .brand {
        margin-top: 30px;
    }

    .brand img {
        width: 20%;
    }

    br {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {}

@media (min-width: 1400px) {}

@media (max-width: 1600px) {}

@media (min-width: 1920px) {}

@media (min-width: 2520px) {}
