@import 'shared/layout';

.navbar {
    &.fixed-top {
        .container {
            border-bottom: none;
        }
    }
}

.main-banner {
    padding: 190px 0px 105px;

    .font-red {
        color: #d40c0e;
    }

    &::before {
        background: url($url + "/assets/frontend/images/bg/wikipedia-lp-bg.webp") no-repeat;
        background-size: cover;
        content: "";
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        z-index: -1 !important;
    }

    .h2,
    .h1,
    p {
        color: #1e4454;
    }

    p {
        font-size: 16px !important;
        margin-bottom: 46px !important;

        span {
            color: #1e4454;
            font-weight: 700;
        }
    }

    .h5 {
        background: #1e4454;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px #1e4454;
        color: white !important;
        display: inline-block;
        font-family: "Lato";
        font-size: 14px !important;
        font-weight: 300;
        padding: 0px 30px;
    }

    .btn-order {
        font-size: 14px !important;
        padding: 14px 40px;
        width: auto;
    }

    .btn-order-transparent {
        border-color: #1e4454;
        color: #1e4454;
        font-size: 13px;
        padding: 10px 50px !important;
    }

    .or {
        color: #1e4454;
        font-family: "Lato";
        font-size: 13px;
        font-weight: 600;
        margin: 0px 10px;
    }

    .rated {
        color: #1e4454;
        display: block;
        font-family: "Lato";
        margin-top: 25px;
    }

    .bannerContent {
        padding-top: 180px;
    }

    .e-text {
        font-family: "Lato" !important;
        font-size: 9px !important;
    }

    .typed {
        color: #d40c0e;
    }

    p {
        color: #292e0a;
    }

    .btn-live,
    button {
        height: auto;
        min-height: 41px;
        padding: 14px 40px;
        width: auto;
    }

    .form {
        background-color: #fff;
        border-radius: 0px;
        border: 3px solid #1E4454;
        margin: 10px auto;
        padding: 10px 25px 30px;
        position: relative;
        max-width: 450px;
        width: 100%;

        .head {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 26px;

            .text-box {
                flex: 1;
                margin-top: 12px;
                text-align: center;

                .text {
                    font-family: "Ivymode-bold";
                    display: block;
                    font-size: 22px;
                    margin-bottom: 0px !important;
                }

                .accent {
                    font-family: "Ivymode-bold";
                    font-size: 22px;
                    position: relative;

                    &::before {
                        content: "";
                        width: 30px;
                        border: 2px solid #A30000;
                        display: inline-block;
                        margin-bottom: 5px;
                        margin-right: 10px;
                    }

                    &::after {
                        content: "";
                        width: 30px;
                        border: 2px solid #A30000;
                        display: inline-block;
                        margin-bottom: 5px;
                        margin-left: 10px;
                    }
                }
            }
        }

        .form-control:focus {
            border-color: unset;
            box-shadow: unset;
        }

        .form-control {
            border-radius: 4px;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            margin-bottom: 20px;
            padding: 10px;
            resize: none;
            background-color: #F3F3F3;
            border: 1px solid #C9C9C9;
            min-height: 41px;
        }

        .form-select {
            border-radius: 4px;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #F3F3F3;
            border: 1px solid #C9C9C9;
            min-height: 41px;
        }

        .btn-order {
            box-shadow: unset;
            width: 100%;
            background-color: #A30000 !important;
            padding: 8px 30px;
            font-size: 14px !important;
            height: auto;

            svg {
                margin-left: 20px;
            }
        }

        .blue {
            color: #1e4454;
            font-family: "Ivymode-bold" !important;
            font-size: 30px !important;
        }

        label {
            background: white;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            font-weight: 500;
            margin-left: 5px;
            margin-top: -9px;
            padding: 0px 5px;
            position: absolute;
        }
    }
}

.brand {
    padding: 20px 0px;

    .d-flex {
        align-items: center;
        display: flex !important;
        justify-content: center;
    }

    img {
        margin: 0px 20px 0px 0px;
        padding: 0px 15px;
        width: 100%;
    }
}

.book-writer {
    padding: 87px 0px;

    &::before {
        background: url($url + "/assets/frontend/images/sample/path-left.webp") no-repeat;
        background-size: auto;
        content: "";
        height: 100%;
        left: -136px;
        position: absolute;
        top: -72px;
        width: 100%;
        z-index: -1 !important;
    }

    .font-red {
        color: #d40c0e;
    }

    .h2 {
        margin-bottom: 17px !important;
    }

    .btn-box {
        .or {
            color: #1e4454;
            font-family: "Lato";
            font-size: 13px;
            font-weight: 600;
            margin: 0px 10px;
        }

        .btn-order {
            height: auto;
            padding: 14px 30px;
            width: auto;
        }

        .btn-live {
            height: auto;
            padding: 14px 30px;
            width: auto;
        }
    }

    .email {
        color: #d40c0e;
        display: block;
        font-family: "Ivymode-bold";
        font-size: 13px;
        margin-top: 16px;

        a {
            color: #d40c0e;
            font-family: "Lato";
            font-weight: 600;
        }
    }

    img {
        margin: 0px 5px;
        margin-bottom: 10px;

        &+p {
            margin-bottom: 0px !important;
            font-size: 16px;

            span {
                color: #1E4454;
                font-weight: 600;
            }
        }
    }

}

section.wiki-portfolio {
    background-color: #1E4454;
    text-align: center;

    .h3,
    p {
        color: #ffffff !important;
    }

    .nav-lists {
        border: 0px;
        margin: 0px 0 50px;

        .nav-link {
            background: #fff;
            border: 2px solid #191919;
            border-radius: 40px;
            box-shadow: 0px 6px 10px 0px #0000002e;
            color: #191919;
            font-size: 20px;
            margin: 10px 10px;
            padding: 7px 40px;

            &:hover {
                background: #191919;
                border: 2px solid #191919;
                color: #fff;
            }

            &.active {
                background: #191919;
                border: 2px solid #191919;
                box-shadow: none !important;
                color: #fff;
            }
        }
    }

    .tab-content {
        .box {
            margin: 0 auto;
            max-width: 244px;
            position: relative;

            img {
                border: 3px solid #1E4454;
            }

            &:hover {
                img {
                    border: 3px solid #000000;
                    border-radius: 14px;
                    cursor: pointer;
                }

                &:after {
                    background: url($url + '/assets/frontend/images/icon/zoom-icon.webp') no-repeat;
                    background-position: center;
                    background-size: contain;
                    bottom: 0;
                    content: "";
                    cursor: pointer;
                    height: 40px;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                }
            }
        }
    }
}

.how-we-work {
    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .how-box {
        border: 3px solid #f9efef;
        border-radius: 15px;
        height: 235px;
        margin: 40px 51px 0px 0px;
        padding: 30px 10px 20px;
        position: relative;
        text-align: center;

        &::after {
            background: url($url + "/assets/frontend/images/icon/arrow.webp") no-repeat;
            content: "";
            height: 12px;
            position: absolute;
            right: -24%;
            top: 45%;
            width: 50px;
        }

        &.box1 {
            &::after {
                display: none;
            }
        }

        &:hover {
            .btn-order {
                display: block;
                margin: 0 auto;
            }
        }

        p {
            font-size: 14px !important;
        }

        .number {
            color: #1e4454;
            font-family: "Lato";
            font-size: 30px;
            font-weight: 700;
            position: absolute;
            right: 7px;
            top: 3px;
        }

        img {
            height: 50px;
            width: 50px;
        }

        .h6 {
            display: block;
            font-family: "Ivymode-semibold";
            font-size: 17px !important;
            margin: 10px 0px;
        }

        .btn-order {
            display: none;
            font-size: 11px !important;
            margin: 0 auto;
            padding-top: 10px;
        }
    }
}

.we-solution {
    padding: 60px 0px 100px;

    .font-red {
        color: #d40c0e;
    }

    i {
        color: #6A6A6A;
        margin-right: 6px;
    }

    .h2 {
        &+p {
            margin-bottom: 50px !important;
        }
    }

    .marque-content {
        max-width: 1154px;
    }

    .choose-box {
        padding: 25px;
        position: relative;

        p {
            font-size: 14px !important;
        }

        .h5 {
            font-family: "Ivymode-semibold";
        }

        &.box2 {
            &::before {
                background: #c9c9c9;
                content: "";
                height: 113%;
                left: 0%;
                opacity: unset;
                position: absolute;
                top: 0%;
                width: 1px;
            }

            &::after {
                background: #c9c9c9;
                content: "";
                height: 113%;
                opacity: unset;
                position: absolute;
                right: 0%;
                top: 0%;
                width: 1px;
            }
        }
    }

    .hr-line1 {
        background: #c9c9c9;
        height: 1px;
        margin: 0 auto;
        width: 80%;
    }

    .col-12.col-lg-4 {
        padding: 0px;
    }

    .btn-order {
        font-size: 13px !important;
        width: 250px;
    }
}

.why-choose {
    padding: 80px 0px;

    .why-choose-heading {
        .h2 {
            margin-left: auto;
            margin-right: auto;
            max-width: 835px;
        }
    }

    .box {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        cursor: pointer;
        height: 100%;
        padding: 20px 20px 10px;
        position: relative;

        img {
            height: 48px;
            margin-bottom: 10px;
            overflow: hidden;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px grey;
        }

        .h6 {
            font-size: 16px !important;
            line-height: 22px;
            margin: 10px 0px 12px;
        }
    }

    .btn-order,
    .btn-live {
        font-size: 13px !important;
        height: 40px;
        margin: 0px 10px 0px 0px;
        padding-top: 10px;
        width: 190px;
    }

    .email {
        color: #1e4454;
        display: block;
        font-family: "Ivymode-semibold";
        font-size: 13px;
        margin-top: 30px;

        a {
            color: #1e4454;
            font-family: "Lato";
        }
    }

    .why-choose-heading {
        margin-bottom: 48px;
        text-align: center;

        .font-red {
            color: #d40c0e;
        }
    }
}

.approval-service {
    background-color: #1E4454;
    color: #ffffff;
    padding: 0px;

    .content-box {
        padding: 50px 0px;

        .h2 {
            color: #ffffff !important;
        }

        p {
            color: #ffffff;
        }
    }

    img {
        bottom: 7px;
        position: relative;
        right: -40px;
        transform: scale(1.2);
    }

    .btn-box {
        .btn-order {
            background-color: #ffffff !important;
            color: #1e4454 !important;
            font-size: 14px !important;
            height: auto;
            padding: 14px 30px;
            width: auto;
            width: auto !important;
        }

        .text {
            color: #ffffff;
            font-family: 'Lato';
            font-weight: 600;
            margin-left: 10px;
            margin-right: 10px;
        }

        .btn-live {
            border: 1px solid #ffffff !important;
            color: #ffffff !important;
            font-size: 14px !important;
            height: auto;
            padding: 14px 30px;
            width: auto;
        }
    }
}

.creative-service {
    .font-red {
        color: #d40c0e;
    }

    .nav-lists {
        height: 100%;
        overflow: auto;

        .nav-pills {
            .nav-link {
                background-color: #DFF4FC;
                border-radius: 0px;
                color: #000000;
                font-family: "Lato";
                font-size: 16px;
                font-weight: 600;
                padding: 15px 20px;
                position: relative;
                text-align: start;

                &:first-child {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }

                img {
                    margin-right: 20px;
                }

                &:last-child {
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    margin-bottom: 0px;
                }

                &::before {
                    background-image: url($url + "/assets/frontend/images/icon/arrow-right.svg");
                    content: "";
                    display: block;
                    height: 11px;
                    position: absolute;
                    right: 14px;
                    top: 23px;
                    width: 14px;
                }
            }
        }

        .nav-pills {
            .nav-link.active {
                background-color: #1E4454;
                color: #ffffff;

                img {
                    filter: brightness(0) invert(1);
                }

                &::before {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    .service-details {
        height: 100%;
        margin-left: 6px;
        margin-top: 14px;
        overflow: auto;

        span {
            color: #1e4454;
            display: block;
            font-family: 'Ivymode-bold';
            font-size: 18px;
            margin-bottom: 16px;
        }

        ul {
            padding-left: 20px;

            li {
                list-style: none;
                position: relative;

                &::before {
                    background-color: #d40c0e;
                    border-radius: 50%;
                    content: "";
                    height: 7px;
                    left: -18px;
                    position: absolute;
                    top: 6px;
                    width: 7px;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 0px;
        box-shadow: inset 0 0 5px grey;
    }

    ::-webkit-scrollbar-thumb {
        background: #d40c0e;
        border-radius: 0px;
    }

    .col-md-8 {
        background-color: #f1f1f1;
        border-radius: 10px;
    }
}

.cta {
    background-color: #D40C0E;
    margin-top: 0px;
    padding: 50px 0px;

    .box-end {
        align-items: center;
        display: flex;
        justify-content: end;
    }

    .h3 {
        color: white !important;
        font-size: 26px !important;
    }

    p {
        color: white !important;
        margin-bottom: 40px !important;
    }

    .book {
        display: block;
        margin: 0 auto;
        transform: scale(1.1) translate(0px, -14px);
    }

    .btn-live {
        background-color: #1e4454 !important;
        border-color: #1e4454 !important;
        color: #ffffff !important;
        font-size: 12px !important;
        height: auto;
        margin: 0 auto;
        padding: 14px 40px !important;
        width: auto;
    }

    .e-text {
        color: white;
        display: block;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
    }

    .phone {
        button {
            background: transparent !important;
            border: none !important;
            font-family: 'Lato';
            font-size: 19px;
            font-weight: 600;
            padding-left: 0px;
            padding-right: 0px;
        }

        a {
            font-family: 'Lato';
            font-size: 19px;
            font-weight: 600;
        }
    }

    .dem {
        padding-right: 10px;
        text-align: right;
    }

    .btn-order {
        padding: 6px 20px !important;
    }

    .phn-box {
        bottom: 20%;
        left: 27%;
        position: absolute;
        right: auto;
    }

    &.cta1 {
        .dem {
            padding-right: 0px;
            text-align: right;
        }

        .btn-live {
            background-color: #ffffff !important;
            color: #000000 !important;
        }
    }
}

.reviews {
    padding: 60px 0px 100px;

    .font-red {
        color: #d40c0e;
    }

    .review-box {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        min-height: 255px;
        padding: 20px;
        position: relative;

        .cards-body {
            min-height: 140px;
        }

        .h5 {
            font-family: "Ivymode-semibold";
            font-size: 17px !important;
            margin-bottom: 0px;
        }

        .e-text {
            color: #1e4454;
            font-family: "Lato";
            font-size: 12px;
            font-weight: 400;
        }
    }

    .swiper {
        overflow: hidden !important;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-pagination {
        bottom: 0px !important;
        margin-top: 0px;
        position: relative;
        top: 25px !important;
        z-index: 1;
    }

    .review-slider {
        padding-top: 16px;
    }

    .swiper-pagination-bullet {
        background: #1e4454 !important;
        color: #1e4454;
        height: 10px;
        margin: 0px 3px;
        margin-top: 20px;
        width: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: #d40c0e !important;
        border-radius: 50px;
        height: 10px;
        width: 50px;
    }

    .swiper-slide-active {
        background-color: #f9f7f6 !important;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 25%) !important;
    }

    .swiper-wrapper {
        margin: 7px 0px;
    }

    .swiper-button-next {
        bottom: 60px;
        left: auto;
        position: absolute;
        right: 43%;
        top: auto;
    }

    .swiper-button-prev {
        bottom: 60px;
        left: auto;
        position: absolute;
        right: 55%;
        top: auto;
    }
}

.content-section {
    .font-red {
        color: #d40c0e;
    }

    .h4 {
        font-family: "Ivymode-semibold";
        font-size: 21px !important;
        margin-bottom: 18px !important;
        margin-top: 10px;
    }
}

.faqs {
    .h2 {
        margin-bottom: 62px !important;
        text-align: center;
    }

    .accordion {
        margin-top: 30px;
    }

    .accordion-button {
        background-color: transparent;
        background-color: #e6eaec;
        color: #333333;
        font-family: "Ivymode-semibold";
        font-size: 16px;
    }

    .accordion-button:not(.collapsed) {
        background-color: #1E4454;
        box-shadow: unset;
        color: #333333;
        color: #ffffff;
        padding-bottom: 6px;

        &::after {
            filter: brightness(0) invert(1);
        }
    }

    .accordion-body {
        background-color: #1E4454;
        color: #ffffff;
        padding: 1rem 1.25rem;

        p {
            color: #ffffff;
        }
    }

    .accordion-header {
        margin-bottom: 0px !important;
    }

    .accordion-item {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.125) !important;
        border-radius: 5px;
        margin-top: 13px;
    }

    .accordion-button:focus {
        box-shadow: unset !important;
    }

    .phone-link {
        color: #000 !important;
    }
}

.portfolio-modal {
    .zoom {
        cursor: zoom-in;
        transform-origin: center center;
        transition: transform 0.25s ease;
    }

    .modal-body {
        position: relative;
        text-align: center;

        .btn-close {
            align-items: center;
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            background: rgba(212, 12, 14, 0.25);
            border: 1px solid rgba(212, 12, 14, 0.18);
            border-radius: 50em;
            box-shadow: 0 8px 32px 0 rgba(216, 24, 27, 0.37);
            display: flex;
            font-size: 24px;
            height: 30px;
            justify-content: center;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 30px;
            z-index: 10;
        }
    }
}

.popupForm {

    #progressContainer {
        background: #ddd;
        border-radius: 50px;
        bottom: 0;
        height: 20px;
        left: 0;
        margin: auto;
        max-width: 576px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
    }

    #progressBar {
        background-color: #A30000;
        // background-image: linear-gradient(45deg, rgb(0 0 0 / 15%) 25%, transparent 25%, transparent 50%, rgb(0 0 0 / 15%) 50%, rgb(0 0 0 / 15%) 75%, transparent 75%, transparent);
        height: 100%;
        transition: width 0.5s;
        width: 0%;
    }

    .modal-content {
        background-color: #fff;
        border-radius: 0px;
        border: 3px solid #1E4454;
        margin: 10px auto;
        padding: 10px 25px 30px;
        position: relative;
        max-width: 450px;
        width: 100%;

        .modal-body {
            padding: 0px;
        }

        .btn-close {
            align-items: center;
            background: #A30000;
            border: 1px solid #A30000;
            border-radius: 50em;
            box-shadow: 0 8px 32px 0 rgba(216, 24, 27, 0.37);
            display: flex;
            font-size: 24px;
            height: 30px;
            justify-content: center;
            position: absolute;
            right: -47px;
            top: -32px;
            width: 30px;
            z-index: 10;
            color: white;
            opacity: 1;
        }

        .text-box {
            margin-top: 12px;
            text-align: center;
            margin-bottom: 20px;

            .text {
                font-family: "Ivymode-bold";
                display: block;
                font-size: 22px;
                margin-bottom: 0px !important;
            }

            .accent {
                font-family: "Ivymode-bold";
                font-size: 22px;
                position: relative;

                &::before {
                    content: "";
                    width: 30px;
                    border: 2px solid #A30000;
                    display: inline-block;
                    margin-bottom: 5px;
                    margin-right: 10px;
                }

                &::after {
                    content: "";
                    width: 30px;
                    border: 2px solid #A30000;
                    display: inline-block;
                    margin-bottom: 5px;
                    margin-left: 10px;
                }
            }
        }

        .form-control:focus {
            border-color: unset;
            box-shadow: unset;
        }

        .form-control {
            border-radius: 4px;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            margin-bottom: 20px;
            padding: 10px;
            resize: none;
            background-color: #F3F3F3;
            border: 1px solid #C9C9C9;
            min-height: 41px;
        }

        .form-select {
            border-radius: 4px;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #F3F3F3;
            border: 1px solid #C9C9C9;
            min-height: 41px;
        }

        .btn-order {
            box-shadow: unset;
            width: 100%;
            background-color: #A30000 !important;
            padding: 8px 30px;
            font-size: 14px !important;
            height: auto;

            svg {
                margin-left: 20px;
            }
        }

        .blue {
            color: #1e4454;
            font-family: "Ivymode-bold" !important;
            font-size: 30px !important;
        }

        label {
            background: white;
            color: #333333;
            font-family: "Lato";
            font-size: 12px;
            font-weight: 500;
            margin-left: 5px;
            margin-top: -9px;
            padding: 0px 5px;
            position: absolute;
        }
    }
}

.modal-open {
    padding-right: 0px !important;
}

@media (min-width: 1400px) {
    .we-solution {
        &:after {
            left: 59% !important;
        }

        &::before {
            margin-left: 42px !important;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .how-we-work {
        .how-box {
            &::after {
                right: -29%;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .content-section .scrollbar::before {
        right: 72px !important;
    }
}

@media (min-width: 992px) {
    .creative-service {
        .content-box {
            .col-lg-6 {
                &:nth-child(1) {
                    border-right: 1px solid #9F9F9F;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .approval-service {
        img {
            display: none;
        }
    }

    .how-we-work {
        .how-box {
            margin: 20px;

            &::after {
                display: none;
            }
        }
    }

    .we-solution {
        &::after {
            display: none;
        }

        .hr-line1 {
            display: none;
        }

        .offset-md-1 {
            margin-left: 0px !important;
        }

        .choose-box.box2 {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        .btn-order {
            font-size: 13px !important;
            width: 271px;
        }

        &::before {
            display: none;
        }
    }

    .cta {
        .text-start {
            text-align: center !important;
        }

        .offset-md-2 {
            margin-left: 0px;
        }

        .btn-live {
            padding: 10px 30px !important;
        }

        .book {
            display: block;
            margin: 0 auto;
            transform: scale(1) translate(0px, 0px);
        }

        .phn-box {
            bottom: 20%;
            left: 18%;
            position: absolute;
            right: auto;
        }

        .btn-order {
            margin: 0px 0px !important;
        }
    }

    .book-writer {
        .btn-order {
            height: auto;
            padding: 10px 30px !important;
            width: auto;
        }

        .btn-live {
            height: auto;
            padding: 10px 30px !important;
        }
    }

    .reviews {
        padding-bottom: 0px;

        .swiper-pagination {
            display: none;
            display: none;
        }

        .review-box {
            margin-bottom: 0px !important;
            margin-bottom: 0px !important;
            margin-bottom: 20px;
        }

        .swiper-button-next {
            display: none;
        }

        .swiper-button-prev {
            display: none;
        }
    }

    .content-section {
        .scrollbar {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .main-banner {
        &::before {
            display: none;
        }

        .or {
            display: block;
            margin: 10px 10px;
            text-align: center;
        }

        .h3 {
            margin-top: 30px;
        }

        .box {
            width: auto;

            .e-text {
                margin-top: 13px;
            }
        }

        .h1 {
            font-size: 40px !important;
            margin-bottom: 25px !important;
        }

        .h5 {
            background: transparent;
            box-shadow: unset;
            color: black !important;
            font-size: 13px !important;
            line-height: 20px !important;
            padding: 10px;
            text-align: center;
        }
    }

    .how-we-work {
        .col-12.col-lg-3 {
            width: 100% !important;
        }

        .how-box {
            margin: 40px 0px 0px 0px;

            &::after {
                display: none;
            }
        }
    }

    .we-solution {
        .hr-line1 {
            display: none;
        }

        &::after {
            display: none;
        }

        .choose-box {
            text-align: center;

            .h5 {
                margin: 10px 0px;
            }
        }

        &::before {
            display: none;
        }

        .row.m-t-50 {
            margin-top: 0px !important;
        }
    }

    .cta {
        padding: 20px 0px;
        text-align: center;

        .box-end {
            justify-content: center;
            margin-bottom: 16px;
        }

        .book {
            display: block;
            margin: 0 auto;
            transform: scale(1) translate(0px, 19px);
        }

        .phn-box {
            display: none;
        }

        img {
            margin: 20px;
        }

        .dem {
            text-align: center;
        }

        .btn-order {
            margin: 20px 0px;
        }
    }

    .book-writer {
        .btn-box {
            align-items: center;
            display: flex;
            flex-direction: column;

            .text {
                margin-bottom: 10px;
            }
        }

        .btn-order {
            display: block !important;
            margin-bottom: 15px;
        }

        .btn-live {
            display: block !important;
        }
    }

    .reviews {
        .swiper-button-next {
            display: none;
        }

        .swiper-button-prev {
            display: none;
        }

        .review-box {
            margin-bottom: 30px;
        }
    }

    .content-section {
        .scrollbar {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }

    .faqs {
        .h3 {
            line-height: 30px !important;
        }
    }
}

@media (max-width: 575.98px) {
    .main-banner {
        margin-top: 100px;
        padding: 50px 0 0;

        .h1 {
            font-size: 35px !important;
            margin-bottom: 24px !important;
            text-align: center;
        }
    }

    .main-banner {
        .h2 {
            font-size: 30px !important;
            margin-bottom: 14px !important;
            text-align: center;
        }
    }

    .approval-service {
        .btn-box {
            align-items: center;
            display: flex;
            flex-direction: column;

            .text {
                margin-bottom: 10px;
            }

            .btn-order {
                margin-bottom: 10px;
            }
        }
    }
}